/**
 * @file src/components/point/PointChargeButton.css
 * @author 허영현
 * @since 2025-12-09
 * @description 포인트 충전하기 버튼 컴포넌트의 css 파일입니다.
 */

.charge-btn {
  width: 100%;
  margin-top: 20px;
  padding: 16px;
  background: #9333ea;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.25s ease;
}

.charge-btn:hover {
  background: #7827c3; /* hover 시 약간 더 진한 보라 */
}
